{% extends 'index.html' %}
{% load static %}

{% block main_content %}
<div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">Delivered Orders</h4>
                    </div>
<!--                    <div class="col-sm-8 col-9 text-right m-b-20">-->
<!--                        <a href="/medicine/add-new-medicine" class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Create custom order</a>-->
<!--                    </div>-->
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        {% if messages %}
                            {% for message in messages %}

                            <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible" {% endif %}>
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <strong>{{message.tags}}: </strong>{{ message }}!
                            </div>

                            {% endfor %}
                        {% endif %}

                        <div class="card-box">
                            <div class="card-block">
								<div class="table-responsive">
									<table class="datatable table table-stripped ">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Amount</th>
                                            <th>Shipping status</th>
                                            <th>Payment status</th>
                                            <th class="text-right">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% if delivered_orders %}
                                        {% for order in delivered_orders %}
                                            <tr>
                                                <td>{{order.customer.first_name}} {{order.customer.last_name}}</td>
                                                <td>{{order.total_amount}}</td>
                                                <td>{{order.status|capfirst}}</td>
                                                <td>{% if order.isPaid %}<span class="custom-badge status-green">Paid</span> {% else %} <span class="custom-badge status-red">Unpaid</span> {% endif %}</td>
                                                <td class="text-right">
                                                    <div class="dropdown dropdown-action">
                                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                        {% if order.isPaid == False %}
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            {% if order.isPaid == False %}
                                                            <a class="dropdown-item" href="{% url 'mark_as_delivered_or_cancelled_or_active' pk=order.pk mark_status='active' %}"><i class="fa fa-flag-o"></i> Mark as paid</a>
                                                            {% endif %}
                                                        </div>
                                                        {% endif %}
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}